{{> post-info post}}
{{#if loggedIn}}
  <form class="comment-form">
    <div>
      <textarea name="comment-body"></textarea>
    </div>
    <div>
      <button type="submit">
        add comment
      </button>
      <button type="button" class="upvote-btn">
        upvote-btn
      </button>
    </div>
  </form>
{{/if}}
{{> comments post.comments}}
{{! Because comment.js and upvote.js are only useful to
users who can see those elements (i.e., logged-in users),
we should just not load those resources. }}
{{#if loggedIn}}
  <script src="/javascript/comment.js"></script>
  <script src="/javascript/upvote.js"></script>
{{/if}}